{% extends "base.html" %}

{% block content %}
<div class="alert alert-danger" role="alert" style="font-weight:bolder-style:italic">
    ЗАПИСИ В БЛОГЕ
</div>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-outline-secondary">Добавить новость</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}, Количество лайков - {{item.likes}}
    </div>

</div>
<div>
    {% if item.geopos != ''%}
    <a href="/show_geo/{{ item.id }}" class="btn btn-outline-primary">
        Геолокация
    </a>
    {% endif %}
    <a href="/news_like/{{ item.id }}" class="btn btn-outline-success">
        Оценить
    </a>
    {% if current_user.is_authenticated and current_user == item.user %}
    <a href="/edit_news/{{ item.id }}" class="btn btn-outline-warning">
        Изменить
    </a>
    <a href="/news_delete/{{ item.id }}" class="btn btn-outline-danger">
        Удалить
    </a>
    {% endif %}

</div>
{% endfor %}
{% endblock %}
